<div
  class="bg-body-secondary text-center py-5 rounded-2"
  style="background-color: #f8f9fa"
>
  <h1 class="display-6 fw-bold">Product Management System</h1>
</div>

<div class="row mt-5">
  <div class="col-6">
    <app-product-detail-form />
  </div>

  <div class="col-6">
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded-3"
        *ngFor="let pd of service.list"
      >
        <div class="flex-grow-1 mouse-hover" (click)="populateForm(pd)">
          <div class="fw-bold">{{ pd.name }}</div>
          <div class="fw-bold">{{ pd.description }}</div>

          <div>{{ pd.price }}</div>
          <div>{{ pd.stockQuantity }}</div>
        </div>
        <span class="text-danger">
          <i class="fa-solid fa-trash-can fa-lg mouse-hover"
          (click)="onDelete(pd.id)"
          
          ></i>
        </span>
      </li>
    </ul>
  </div>
</div>
