<form
  #form="ngForm"
  (submit)="onSubmit(form)"
  [class.submitted]="service.formSubmitted"
  novalidate
  autocomplete="off"
>
  <input type="hidden" name="id" [(ngModel)]="service.formData.id" />
  <div class="mb-3">
    <label>Product Name</label>
    <input
      class="form-control form-control-lg"
      placeholder="Enter Product Name"
      #name="ngModel"
      name="name"
      [(ngModel)]="service.formData.name"
      required
    />
  </div>
  <div class="mb-3">
    <label>Description</label>
    <input
      class="form-control form-control-lg"
      placeholder="Product Description"
      #description="ngModel"
      name="description"
      [(ngModel)]="service.formData.description"
      required
    />
  </div>

  <div class="row">
    <div class="mb-3 col-6">
      <label>Price: $</label>
      <input
        class="form-control form-control-lg"
        placeholder="Price"
        type="string"
        #price="ngModel"
        name="price"
        [(ngModel)]="service.formData.price"
      />
    </div>
    <div class="mb-3 col-6">
      <label for="stockQuantity">Stock Quantity</label>
      <input
        type="number"
        class="form-control form-control-lg"
        placeholder="Enter stock quantity"
        id="stockQuantity"
        name="stockQuantity"
        [(ngModel)]="service.formData.stockQuantity"
        required
      />
    </div>
  </div>
  <div class="d-grid">
    <button class="btn btn-lg btn-success" type="submit">Submit</button>
  </div>
</form>
